body {
  background-color: peru;
  background-image: url(./Media/marauder-back.png);
  background-position: initial;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: auto;
  padding: 0 10px 0 10px;
  font-family: 'Cormorant Garamond', serif;
  color: saddlebrown;
}

.heading-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.hogwarts-crest {
  float: left;
  height: 100px;
}

#hallows {
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hallows-img {
  height: 90%;
}

.hallows-img:hover {
  filter: drop-shadow(0 0 5px rgb(51, 49, 49));
  height: 95%;
}

.heading {
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
  margin-top: 25px;
  margin-right: 100px;
  text-shadow: 0 0 1px black;
}

#welcome {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 0 1px black;
}

#page {
  display: flex;
  justify-content: center;
}

#card-titles {
  display: flex;
  justify-content: space-between;
  font-family: 'Cinzel', serif;
  text-shadow: 0 0 1px black;
  margin: 0;
}

#card-titles>h2 {
  width: 40%;
  text-align: center;
}

.welcome-card {
  text-align: center;
}

.welcome-card-body {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text {
  font-size: 13px;
  margin: 0;
}

.welcome-card-title {
  font-size: 30px;
}

.welcome-card-text {
  font-size: 20px;
}

.welcome-card-title,
.welcome-card-text {
  margin: 15px;
}

.welcome-img {
  width: 50%;
}

#welcomeBtn:focus {
  border: none;
  box-shadow: -3px 3px 5px rgb(42, 42, 42);
  background-color: #212529;
}

#welcomeBtn {
  color: beige;
  box-shadow: -3px 3px 5px rgb(42, 42, 42);
}

#welcomeBtn:hover {
  color: beige;
  box-shadow: -3px 3px 5px rgb(42, 42, 42);
  background-color: #424649;
}

#name {
  background-color: beige;
  border: none;
}

#name:focus {
  border: none;
  box-shadow: none;
}

.btn-dark,
.btn-dark:hover {
  color: beige;
}

.btn-group {
  margin-bottom: 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.exp-card-btns {
  display: flex;
  flex-direction: column;
}

.reason {
  margin: 0;
}

.expelled-card-body {
  background-color: beige;
  text-align: center;
}

#cards {
  display: flex;
  justify-content: space-between;
}

#student-cards,
#expelled-cards {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card {
  border-radius: 5px;
  height: 350px;
  margin: 10px;
  flex: 0 1 calc(50% - 20px);
  border: none;
  box-shadow: -3px 3px 5px rgb(42, 42, 42);
}

.img-container {
  height: 30%;
  display: flex;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-img-top {
  object-fit: contain;
}

.house-crest:hover {
  height: 110%;
}

.input-group,
.btn-group,
#resBtn,
#editStudentSave,
#angelSelect,
#editName,
#houseChoiceSelect,
#studentYes,
#studentNo,
.welcome-img {
  filter: drop-shadow(-3px 3px 5px rgb(42, 42, 42));
}

#angelSelect:focus,
#houseChoiceSelect:focus,
#studentYes,
#studentNo,
#editName:focus {
  border-color: beige;
  box-shadow: none;
  filter: drop-shadow(-3px 3px 5px rgb(42, 42, 42));
}

.Gryffindor {
  background-color: #740001;
  color: #D3A625;
}

.Hufflepuff {
  background-color: #ecb939;
  color: #000000;
}

.Slytherin {
  background-color: #1A472A;
  color: #898989;
}

.Ravenclaw {
  background-color: #0E1A40;
  color: #946B2D;
}

.Gryffindor-card {
  background-color: #D3A625;
  color: #740001;
}

.Hufflepuff-card {
  background-color: #000000;
  color: #ecb939;
}

.Slytherin-card {
  background-color: #898989;
  color: #1A472A;
}

.Ravenclaw-card {
  background-color: #946B2D;
  color: #0E1A40;
}

button.Gryffindor:hover,
#Gryffindor:active,
.Gryffindor-btn:hover,
button.Gryffindor-btn.Gryffindor:active {
  background-color: #5c0002;
  color: #D3A625;
}

button.Hufflepuff:hover,
#Hufflepuff:active,
.Hufflepuff-btn:hover,
button.Hufflepuff-btn.Hufflepuff:active {
  background-color: #d0a22e;
  color: #000000;
}

button.Slytherin:hover,
#Slytherin:active,
.Slytherin-btn:hover,
button.Slytherin-btn.Slytherin:active {
  background-color: #143720;
  color: #898989;
}

button.Ravenclaw:hover,
#Ravenclaw:active,
.Ravenclaw-btn:hover,
button.Ravenclaw-btn.Ravenclaw:active {
  background-color: #15255c;
  color: #946B2D;
}

.delete-btn,
.delete-btn:hover,
#all,
#all:hover {
  color: beige;
}

.expelled-img {
  background-color: #4d5c3c;
}

.student-card-btn {
  margin-top: auto;
}

.exp-card-btns {
  margin-top: auto;
}

.appeal-btn {
  border: solid 1px grey;
}

.modal-content {
  background-image: url(./Media/paper.png);
  box-shadow: -3px 3px 5px rgb(42, 42, 42);
  color: #212529;
  text-shadow: 0 0 1px black;
  font-size: 15px;
  text-align: center;
}

.modal-header,
.modal-footer {
  border: none;
}

select,
select:focus {
  background-color: beige;
  box-shadow: none;
}

.stone {
  height: 100px;
  filter: drop-shadow(-3px 3px 5px rgb(42, 42, 42));
}

#studentChoice {
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  padding-right: 30px;
  margin: 20px 30px;
}

.logo {
  height: 29px;
  opacity: 0.3;
  margin: 0;
}
