body {
  background-color: peru;
  background-image: url(./Media/hogwarts.png);
  background-repeat: no-repeat;
  background-size: 100px;
  padding: 20px 10px 100px 10px;
  font-family: 'Cormorant Garamond', serif;
}

.heading {
  text-align: center;
  font-family: 'Harry Potter', sans-serif;
  font-size: 3em;
  margin: 50px 0;
  text-shadow: 0 0 3px gold;
}

#welcome {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 0 1px gold;
}

#page {
  display: flex;
  justify-content: center;
}

#card-titles {
  display: none;
  justify-content: space-around;
  font-family: 'Harry Potter', sans-serif;
  text-shadow: 0 0 3px gold;
  margin: 30px 0 20px 0;
}

#cards {
  display: flex;
}

.welcome-card {
  text-align: center;
}

.welcome-card-body {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text {
  font-size: 15px;
}

.welcome-card-title {
  font-size: 30px;
}

.welcome-card-text {
  font-size: 20px;
}

.welcome-card-title,
.welcome-card-text {
  margin: 15px;
}

.welcome-img {
  width: 50%;
}

#name {
  background-color: bisque;
  border: none;
}

#name:focus {
  border: none;
  box-shadow: none;
}

.btn-dark,
.btn-dark:hover {
  color: bisque;
}

.btn-group {
  margin-bottom: 30px;
}

.card {
  border-radius: 5px;
  height: 300px;
  margin: 10px;
  flex: 0 1 calc(50% - 20px);
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.reason {
  margin: 0;
}

.expelled-card-body {
  background-color: bisque;
  text-align: center;
}

#student-cards,
#expelled-cards {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.img-container {
  height: 30%;
  display: flex;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-img-top {
  object-fit: contain;
}

.Gryffindor {
  background-color: #740001;
  color: #D3A625;
}

.Hufflepuff {
  background-color: #ecb939;
  color: #000000;
}

.Slytherin {
  background-color: #1A472A;
  color: #898989;
}

.Ravenclaw {
  background-color: #0E1A40;
  color: #946B2D;
}

.Gryffindor-card {
  background-color: #D3A625;
  color: #740001;
}

.Hufflepuff-card {
  background-color: #000000;
  color: #ecb939;
}

.Slytherin-card {
  background-color: #898989;
  color: #1A472A;
}

.Ravenclaw-card {
  background-color: #946B2D;
  color: #0E1A40;
}

button.Gryffindor:hover,
.Gryffindor-btn:hover {
  background-color: #5c0002;
  color: #D3A625;
}

button.Hufflepuff:hover,
.Hufflepuff-btn:hover {
  background-color: #d0a22e;
  color: #000000;
}

button.Slytherin:hover,
.Slytherin-btn:hover {
  background-color: #143720;
  color: #898989;
}

button.Ravenclaw:hover,
.Ravenclaw-btn:hover {
  background-color: #15255c;
  color: #946B2D;
}

.delete-btn,
.delete-btn:hover {
  color: bisque;
}

.expelled-img {
  background-color: #4d5c3c;
}

.card-btn {
  margin-top: auto;
}
